@model Lib.io.ViewModels.BookViewFormModel

@{
    ViewBag.Title = "BookForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Message</h1>

@using (Html.BeginForm("Save", "Books")) {
    @Html.ValidationSummary(false, "")

    <div class="form-group">
        @Html.LabelFor(b => b.Name)
        @Html.TextBoxFor(b => b.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(b => b.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(b => b.ReleaseDate)
        @Html.TextBoxFor(b => b.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(b => b.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(b => b.GenreId)
        @Html.DropDownListFor(b => b.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre...", new { @class = "form-control" })
        @Html.ValidationMessageFor(b => b.GenreId)
    </div>
    <div class="form-group">
        @Html.LabelFor(b => b.NumberInStock)
        @Html.TextBoxFor(b => b.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(b => b.NumberInStock)
    </div>

    @Html.HiddenFor(b => b.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
